/* quiz pages styling */
.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px;
}

#quiz-mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-morse-code {
  width: 400px;
  height: 70px;
  margin: 20px 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f8f8;
  text-align: center;
  font-size: 50px;
  vertical-align: middle;
}

.error {
  color: red;
  font-size: 20px;
}

.flashlight {
  width: 100px;
}

.hide {
  display: none;
}

.quiz-correct {
  color: green;
  font-size: 40px;
  text-align: center;
}

.quiz-wrong {
  color: red;
  font-size: 40px;
  text-align: center;
}

.continue-message {
  font-size: 20px;
  color: lightgrey;
  text-align: center;
}

img.hint {
  height: 200px;
}
.hint {
  font-size: 60px;
  font-weight: bold;
}

/* learn page styling */
#letter-plain {
  height: 200px;
}

.hidden {
  opacity: 0;
}
/* .learn-container {
  text-align: center;
  margin: 50px 0px;
} */
.learn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px;
}

.learn-message {
  font-size: 20px;
  color: lightgrey;
}

.flashlight-container {
  position: relative;
}

.extra-margin {
  margin-bottom: 120px;
}

.flashlight-off,
.flashlight-on {
  width: 100px;
  position: absolute;
  top: 0;
  left: 50%; /* Place images at the horizontal center */
  transform: translateX(-50%); /* Adjust to center the images */
  margin-top: 10px;
}

.learn-letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.try-letter-container {
  float: left;
  position: relative;
}

.try-letter-container img {
  vertical-align: bottom;
}

.plain-image {
  height: 200px;
}

/* .morse-on-image {
  position: absolute; 
  top: 20px; 
  left: 20px; 
  z-index: 2; 
} */

/* .morse-on-image {
  width: 50px;
  top: 0;
  left: 100px;
  position: absolute;
} */

/* finish-learn page styling */

#congrats {
  font-size: 60px;
  color: green;
}

.review-detail-button {
  margin: 20px 0px;
}

button.letter {
  margin: 10px;
  font-size: 20px;
}

input {
  border: none;
}
