:root {
  --base: #fae6b6;
  --accent: #fdc002;
  --dark-gray: black;
  --light-gray: #b2acac;
}

.accent:nth-child(odd) {
  color: black;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  padding-bottom: 50px;
}

.accent {
  color: var(--accent);
}

.navbar {
  border-bottom: 2px solid var(--base); /* Add a 3px solid yellow border to the bottom of the navbar */
}

/* Nav bar */
.navbar-light {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
  color: var(--dark-gray);
  background-color: white;
  margin-bottom: 10px;
  font-size: 18px;
}

.quiz-link {
  color: #22194d !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
  color: var(--light-gray);
  font-weight: bold;
  background-color: white;
}

.nav-item.quizNavBtn {
  border: 2px solid var(--base);
}

.nav-link.quizNavLink {
  padding: 5px 10px;
}

.quizNavBtn {
  margin-right: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.quizNavBtn a.nav-link {
  color: var(--dark-gray);
  font-weight: bold;
}

a.nav-link {
  font-size: 18px;
}

.yellow-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: yellow;
}

.navbar {
  position: relative; /* Ensure relative positioning for absolute positioning of the yellow line */
}

.quiz-nav-button {
  font-weight: bold;
  border: 4px solid --var(--accent);
  margin-right: 60px;
}

.btn-primary {
  border: 2px solid var(--accent);
  color: black; /* Set the text color to match the border color */
  font-weight: bold;
  height: 38px;
  width: 200px;
  background-color: var(--accent);
}
.accent-button-unfilled {
  background-color: transparent;
  color: black; /* Change color to your preferred accent color */
  border-color: var(
    --accent
  ); /* Change border color to your preferred accent color */
}

.btn-light {
  border: 2px solid var(--accent);
  color: black;
  font-weight: bold;
  height: 38px;
  background-color: transparent;
}

.btn-light:hover {
  background-color: var(--accent);
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

/* home page */
h1 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 75px;
  text-align: left;
  padding-top: 70px;
}

.morse-code {
  padding-top: 40px;
  font-size: 90px;
  font-weight: bolder;
  color: black;
  text-align: right;
}

.firsttext {
  margin-top: 40px;
}

.subtitle {
  text-align: left;
  color: var(--light-gray);
}

/* quiz pages styling */
.quiz-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  text-align: center;
}

#quiz-mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress {
  position: fixed;
  bottom: 0;
  margin: 20px 0px;
  border-radius: 0px;
  width: 100%;
}

.progress-container {
  display: flex;
  align-items: flex-end; /* Align to bottom */
}

.input-morse-code {
  width: 100%;
  height: 100px;
  margin: 15px 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  line-height: 65px;
  vertical-align: middle;
  border: 4px solid var(--accent);
  overflow: hidden;
}

.top-margin {
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 20px;
}

.flashlight {
  width: 100px;
}

.hide {
  display: none;
}

.quiz-correct {
  color: green;
  font-size: 40px;
  text-align: center;
}

.quiz-wrong {
  color: red;
  font-size: 40px;
  text-align: center;
}

.continue-message {
  font-size: 20px;
  color: lightgrey;
  text-align: center;
}

img.hint {
  height: 200px;
  margin: 0px 10px;
}
.hint {
  font-size: 60px;
  font-weight: bold;
}

.instruction {
  font-size: 16px;
  color: lightgrey;
}

.correct-answer-container {
  margin: 20px 0px;
}

#replay-button {
  margin-bottom: 20px;
}

.quiz-audio {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--accent);
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-audio img {
  width: 60%;
  height: 60%;
}

.quiz-audio:active {
  background-color: var(--base);
}

/* learn page styling */
#letter-plain {
  height: 200px;
}

.hidden {
  opacity: 0;
}
/* .learn-container {
  text-align: center;
  margin: 50px 0px;
} */
.learn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px;
}

.learn-message {
  font-size: 20px;
  color: lightgrey;
}

.flashlight-container {
  position: relative;
  text-align: left;
  padding-top: 20px;
}

.extra-margin {
  margin-bottom: 100px;
}

.flashlight-off,
.flashlight-on {
  width: 100px;
  position: absolute;
  top: 0;
  left: 50%; /* Place images at the horizontal center */
  transform: translateX(-50%); /* Adjust to center the images */
  margin-top: 10px;
}

.learn-letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.try-letter-container {
  float: left;
  position: relative;
}

.try-letter-container img {
  vertical-align: bottom;
}

.plain-image {
  height: 200px;
}

/* .morse-on-image {
  position: absolute; 
  top: 20px; 
  left: 20px; 
  z-index: 2; 
} */

/* .morse-on-image {
  width: 50px;
  top: 0;
  left: 100px;
  position: absolute;
} */

/* finish-learn page styling */

.page-header {
  padding-top: 30px;
  padding-bottom: 40px;
}

#congrats {
  /* padding-top: 50px; */
}

.review-detail-button {
  margin: 20px 0px;
}

button.letter {
  margin: 10px;
}

.left-btn {
  margin-right: 20px;
}

input {
  border: none;
}

/* quiz score page */
.score-btn-container {
  margin: 20px 0px;
}

.quiz-result {
  text-align: center;
}
