#large-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#small-container {
  float: left;
  position: relative;
}

img {
  vertical-align: bottom;
}

#smallone {
  width: 50px;
  top: 0;
  left: 100px;
  position: absolute;
}

p {
  color: red;
}
