{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'finish_learn.js') }}"></script>

    <script>
        let learns = {{learns|tojson}} 
    </script>

    <div class="finish-learn-container text-center container">
        <h1 class="page-header">Tutorial</h1>
        <h2 id="congrats">Congratulations!</h2>
        <p>You've finished learning all letters!</p>
        <button id="learn-quiz-button" class="btn btn-primary left-btn">Quiz</button>
        <button id="learn-review-button" class="btn btn-primary accent-button-unfilled">Review</button>
        <div class="review-detail-button"></div>
    </div>

    
     
{% endblock %}