{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'finish_learn.js') }}"></script>

    <script>
        let learns = {{learns|tojson}} 
    </script>

    <div class="finish-learn-container text-center">
        <h1 id="congrats">Congratulations!</h1>
        <p>You finished learning all letters!</p>
        <button id="learn-quiz-button" class="btn btn-primary">Quiz</button>
        <button id="learn-review-button" class="btn btn-secondary">Review</button>
        <div class="review-detail-button"></div>
    </div>

    
     
{% endblock %}