{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-12">
            <div id="dash-tutorial" class="intro">
                <h1 class ="page-header">Tutorial: <span class="accenttxt"> DOT .</span></h1>
                <p class="subtitle">Morse code consists of a set of standardized sequences of short and long signals,
                    typically referred to as dots and dashes</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div id="place-to-type" class="info-text">
                <h4>Press space for less than 0.35 to enter a dot</h4>
                <div id="duration-display" class="graytxt">0 seconds</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 d-none d-md-block"></div> <!-- Empty for md and up, hidden on smaller -->
        <div class="col-11 col-md-6">
            <div id="input-box" class="input-morse-code form-control"></div>
        </div>
        <div class="col-1 col-md-3">
            <div id="flash" class="flashlight-container input-group-append">
                <img class="flashlight" src="/static/image/led off.png" alt="led light off">
            </div>
        </div>
    </div>
    

    <div class=" row justify-content-center">
        <button id="practice-again-btn" class="practie-btn">
            <img class="refresh" src="/static/image/refresh.png" alt="refresh icon">
            Practice
        </button>
    </div>
    <div class="row justify-content-center mt-3"> <!-- Adjust margin top as needed -->
        
        <div class="col-md-6">
            <div id="feedback-container" class="feedback-container-cls">
                <div id="answer-feedback-container"></div>
                
            </div>
        </div>
    </div>
</div>



<script>
    // Variables to track spacebar press duration, audio, and submission status
    let spaceDownTime = 0;
    let spaceDown = false;
    let duration = 0;
    let morseAudio = new Audio('/static/audio/t-audio.mp3');
    let submitted = false;
    let isCorrect = false;
    let correctCount = 0;

    // Event listener for spacebar press
    $(document).keydown(function (e) {
        if (e.which === 32 && !spaceDown && !submitted) { // Check if the pressed key is the space key
            spaceDownTime = Date.now();
            displayDuration();
            $('#duration-display').text('0 seconds');
            spaceDown = true;
            playAudio();

            // turn on flashlight
            $('.flashlight-container').empty();
            $('.flashlight-container').append('<img class="flashlight" src="/static/image/led on.png">')
        } else if (e.which === 8 && !submitted) { // Check if the pressed key is the backspace key
            // Remove the last character from input-morse-code
            let text = $('.input-morse-code').text();
            $('.input-morse-code').text(text.slice(0, -1));
        }
    });

    // Event listener for spacebar release
    $(document).keyup(function (e) {
        if (e.which === 32 && spaceDown) {
            spaceDown = false;
            clearInterval(audioTimer);
            morseAudio.pause();
            spaceDownTime = 0;

            // turn off flashlight
            $('.flashlight-container').empty();
            $('.flashlight-container').append('<img class="flashlight" src="/static/image/led off.png">')
        }
    });

    // Function to display duration of spacebar press
    function displayDuration() {
        let isError = false;
        intervalId = setInterval(function () {
            if (spaceDown) {
                duration = Date.now() - spaceDownTime;
                $('#duration-display').text(duration / 1000 + ' seconds');
            } else {
                $('.error').remove();
                if (duration < 350) {
                    $('.input-morse-code').append('.');
                    let feedback = $("<div class='feedback'>").html("Great!").addClass("quiz-correct");
                    let continueMessage = $("<div class='continue-message'>").html("Click anywhere to continue");
                    $('#answer-feedback-container').append(feedback, continueMessage);
                    submitted = true;
                    isCorrect = true;
                    correctCount++;

                    // Show the "Practice Again" button
                    $('#practice-again-btn').show();
                } else {
                    let error = $("<div class='error'>")
                    error.html("INCORRECT! Enter dot again")
                    if (!isError) {
                        isError = true;
                        $('#answer-feedback-container').append(error);
                    }
                }
                clearInterval(intervalId);
            }
        }, 10);
    }

    // Event listener for click event on the "Practice Again" button
    $('#practice-again-btn').click(function () {
        resetPage();
    });

    function resetPage() {
        // Reset variables and UI elements
        $('.input-morse-code').empty();
        $('#answer-feedback-container').empty();
        submitted = false;
        isCorrect = false;
        $('#practice-again-btn').hide(); // Hide the button again
    }

    // Function to play Morse code audio
    function playAudio() {
        morseAudio.currentTime = 0; // Reset audio to the beginning
        morseAudio.play();
        // Set a timeout to stop audio playback after 500 milliseconds
        audioTimer = setTimeout(function () {
            morseAudio.pause();
        }, 500);
    }

    // Event listener for click event
    $(document).click(function () {
        if (submitted && isCorrect) {
            if (correctCount >= 2){
                window.location.href = '/get-started-dash';
            }
            else {
                resetPage();
            }
        }
    });
</script>
{% endblock %}