{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-12">
            <div id="dash-tutorial" class="intro">
                <h1 class ="page-header">Tutorial: <span class="accenttxt"> DASH -</span></h1>
                <p class="subtitle">Morse code consists of a set of standardized sequences of short and long signals,
                    typically referred to as dots and dashes</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="place-to-type" class="info-text">
                <h4>Press space for at least 0.2 to enter a dash</h4>
                <div id="duration-display" class="graytxt">0 seconds</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="input-box" class="input-morse-code form-control"></div>
        </div>
        <div class="col-md-3">
            <div id = "flash" class="flashlight-container input-group-append">
                <img class="flashlight" src="/static/image/led off.png" alt="led light off">
            </div>
        </div>
    </div>
    <div class=" row justify-content-center">
        <button id="practice-again-btn" class="practie-btn">
            <img class="refresh" src="/static/image/refresh.png" alt="refresh icon">
            Practice Again
        </button>
    </div>
    <div class="row justify-content-center mt-3"> <!-- Adjust margin top as needed -->
        
        <div class="col-md-6">
            <div id="feedback-container" class="feedback-container-cls">
                <div id="answer-feedback-container"></div>
                
            </div>
        </div>
    </div>
</div>


<script>
    let spaceDownTime = 0;
    let spaceDown = false;
    let duration = 0;
    let morseAudio = new Audio('/static/audio/t-audio.mp3');
    let submitted = false;
    let isCorrect = false;

    $(document).keydown(function(e) {
        if (e.which === 32 && !spaceDown && !submitted) { // Check if the pressed key is the space key
            spaceDownTime = Date.now();
            displayDuration();
            $('#duration-display').text('0 seconds');
            spaceDown = true;
            playAudio();

            // turn on flashlight
            $('.flashlight-container').empty();
            $('.flashlight-container').append('<img class="flashlight" src="/static/image/led on.png">')
          } else if (e.which === 8 && !submitted) { // Check if the pressed key is the backspace key
            // Remove the last character from input-morse-code
            let text = $('.input-morse-code').text();
            $('.input-morse-code').text(text.slice(0, -1));
        }
    });

    $(document).keyup(function(e) {
        if (e.which === 32 && spaceDown) {
            spaceDown = false;
            clearInterval(audioTimer);
            morseAudio.pause();
            spaceDownTime = 0;

            // turn off flashlight
            $('.flashlight-container').empty();
            $('.flashlight-container').append('<img class="flashlight" src="/static/image/led off.png">')
          }
    });

    function displayDuration() {
        let isError = false;
        intervalId = setInterval(function() {
            if (spaceDown) {
              duration = Date.now() - spaceDownTime;
              $('#duration-display').text(duration/1000 + ' seconds');
            } else {
                $('.error').remove();
                $('.input-morse-code').text('');
                if (duration < 200) {
                    console.log("dot duration: " + duration);
                    $('.input-morse-code').append('.');
                    let error = $("<div class='error'>")
                    error.html("try to enter the dash again!")
                    if (!isError) {
                        isError = true;
                        $('#answer-feedback-container').append(error);
                    }
                } else if (duration > 200 && duration < 500) {
                    console.log("dash duration: " + duration);
                    $('.input-morse-code').append('-');
                    let feedback = $("<div class='feedback'>").html("Great!").addClass("quiz-correct");
                    let continueMessage = $("<div class='continue-message'>").html("Click anywhere to continue");
                    $('#answer-feedback-container').append(feedback, continueMessage);
                    submitted = true;
                    isCorrect = true;

                    // Show the "Practice Again" button
                    $('#practice-again-btn').show();
                } else {
                    let error = $("<div class='error'>")
                    error.html("try to enter the dash again!")
                    if (!isError) {
                        isError = true;
                        $('#answer-feedback-container').append(error);
                    }
                }
                clearInterval(intervalId); 
            }
          }, 10);
    }

    function playAudio() {
        morseAudio.currentTime = 0; // Reset audio to the beginning
        morseAudio.play();
        // Set a timeout to stop audio playback after 500 milliseconds
        audioTimer = setTimeout(function() {
            morseAudio.pause();
        }, 500);
    }

    $('#practice-again-btn').click(function () {
        // Reset variables and UI elements
        $('.input-morse-code').empty();
        $('#answer-feedback-container').empty();
        submitted = false;
        isCorrect = false;
        $('#practice-again-btn').hide(); // Hide the button again
    });

    $(document).click(function() {
        if (submitted && isCorrect) {
            window.location.href = '/learn/1';
        }
    });
</script>
{% endblock %}
