{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Right Side: Morse Code -->
        <div class="col-md-6 order-md-2 custom-small-margin">
            <div class="text-center">
                <p class="morse-code">
                    <span class="accenttxt">.-..</span> 
                    . 
                    <span class="accenttxt">.- </span>
                    .-. 
                    <span class="accenttxt"> .- </span>
                    <br> 
                    -- 
                    <span class="accenttxt"> --- </span> 
                    .-. 
                    <span class="accenttxt">...</span> 
                    .
                    <br> 
                    <span class="accenttxt"> -.-.</span> 
                    --- 
                    <span class="accenttxt">-..</span> 
                    .
                </p>
            </div>
        </div>
        <!-- Left Side: Information - Adjusted margin for smaller screens -->
        <div class="col-md-6 order-md-1 text-center margin-top mt-sm-0 my-sm-2">
            <h1 class="web-title">Morse <br> Code!</h1>
            <p class="subtitle">Welcome to Morse Code Mastery.<br> Learn the timeless art of Morse code with our interactive lessons, practice sessions, quizzes, and games!</p>
            <div class="row">
                <div class="col-md-5">
                    <a href="/morse-code" class="btn accent-button-unfilled button-spacing">What is Morse code</a>
                </div>
                <div class="col-md-4">
                    <a href="/get-started-dot" class="btn btn-primary button-spacing">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
