{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Left Side: Information -->
        <div class="col-md-6">
            <div class="text-center margin-top ">
                <h1 class="web-title">Morse <br> Code!</h1>
                <p class="subtitle">Welcome to Morse Code Mastery.<br> Learn the timeless art of Morse code with our interactive lessons, practice sessions, quizzes, and games!</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="/morse-code" class="btn accent-button-unfilled">What is Morse code</a>
                </div>
                <div class="col-md-4">
                    <a href="/get-started-dot" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
        <!-- Right Side: Morse Code -->
        <div class="col-md-6">
            <div class="text-center">
                <p class="morse-code">
                    <span class="accent">.-..</span> 
                    . 
                    <span class="accent">.- </span>
                    .-. 
                    <span class="accent"> .- </span>
                    <br> 
                    -- 
                    <span class="accent"> --- </span> 
                    .-. 
                    <span class="accent">...</span> 
                    .
                    <br> 
                    <span class="accent"> -.-.</span> 
                    --- 
                    <span class="accent">-..</span> 
                    .
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
