{% extends "layout.html" %}
{% block content %}
<div class="container text-center mt-5">
    <h1 id="home-head">Let’s learn Morse Code!</h1>
    <p>Welcome to Morse Code Mastery. Learn the timeless art of Morse code with our interactive lessons, practice sessions, quizzes, and games. <br> Unlock the secrets of Morse code with us!</p>
    <a href="/morse-code" class="btn btn-primary">What is morse code</a>
    <a href="/get-started-dot" class="btn btn-primary">Get Started</a>
</div>
{% endblock %}
