{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<script>
    let learn = {{ learn| tojson}} 
</script>

<div class="container text-center">
    <h1 class="page-header">{{ learn.letter | upper }} <span class="accenttxt biggertxt"> {{ learn.morse_code }} </span></h1>
    <div class="learn-container">
        <div class="try-letter-container">
            <img class="plain-image" src="/static/image/{{learn.letter}}-plain.png" alt="letter image">
        </div>
        <h4 class="graytxt" id="click-msg">Click anywhere to learn its Morse code!</h4>
        <div class="learn-message"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="written-morse-container"></div>
        </div>
        <div class="col-md-3">
            <div class="flashlight-container">
                <img class="flashlight-off hide" alt="light-off" src="/static/image/led off.png">
                <img class="flashlight-on hide" alt="light-on" src="/static/image/led on.png">
            </div>
        </div>
    </div>
    
    <div class="row ">
        <div class="col-md-5"></div>
        <div class="col-md-1 justify-content-left">
            <div class="button-container">
                <button class="btn quiz-audio-learn hide hidebtn" id="learn-listen-button"><img src="/static/image/audio-off.png" alt="audio"></button>
            </div>
        </div>
        <div class="col-md-1 justify-content-right">
            <div class="button-container">
                <button class="btn btn-primary hide" id="learn-try-button">Try!</button>
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
{% endblock %}