{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

    <script>
        let learn = {{learn|tojson}} 
    </script>

    <div class="learn-container">
        <h1>Click anywhere to learn its Morse code!</h1>
        <p class="learn-message hidden">Press the spacebar shortly to enter a dot, hold the spacebar to enter a dash!</p>
        <div class="try-letter-container">
            <img class="plain-image" src="/static/image/{{learn.letter}}-plain.png" alt="letter image">
        </div>
        <div class="learn-message"></div>
        <div class="written-morse-container"></div>
        <div class="button-container">
            <button class="btn btn-primary hide" id="learn-try-button">Try it!</button>
            <button class="btn btn-secondary hide" id="learn-listen-button">Listen Again</button>
        </div>
        <div class="flashlight-container">
            <img class="flashlight-off hide" alt="light-off" src="/static/image/led off.png">
            <img class="flashlight-on hide" alt="light-on" src="/static/image/led on.png">
        </div>
        

    </div>
{% endblock %}