{% extends "layout.html" %}
{% block content %}
<div class="container text-center mt-5">
    <h1>Morse Code: History and Skill</h1>
    
    <div class="description">
        <div class="row">
            <div class="col-md-1 accenttxt bolder"> --</div>
            <div class="col-md-10">
                <p><span class="bold">Morse code</span>, invented in the 1830s by Samuel Morse and Alfred Vail, is a way to <span class="bold">send messages using light and sound.</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 accenttxt bolder"> --- </div>
            <div class="col-md-10">
                <p>It uses <span class="bold">short and long signals</span> called <span class="bold">dots .</span>  and <span class="bold">dashes _.</span> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 accenttxt bolder">.-.</div>
            <div class="col-md-10">
                <p>Each <span class="bold">letter, number, and punctuation mark</span> has its own <span class="bold">combination of dots and dashes.</span></p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-1 accenttxt bolder">...</div>
            <div class="col-md-10">
                <p> Before phones, Morse code was the main way to communicate over long distances.</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-1 accenttxt bolder">.</div>
            <div class="col-md-10">
                <p>Learning Morse code can be a <span class="bold">fun challenge</span> and a way to <span class="bold">improve your communication skills.</span></p>
            </div>
        </div>
    </div>
    
    <a href="/get-started-dot" class="btn btn-primary">Get Started</a>
</div>
{% endblock %}
