{% extends "layout.html" %}
{% block content %}
<div class="container text-center mt-5">
    <h1>Discover Morse Code: A Journey Through History and Skill</h1>
    <p>Morse code is a method of transmitting text information as a series of on-off tones, lights, or clicks that can be directly understood by a skilled listener or observer without the need for special equipment. Developed by Samuel Morse and Alfred Vail in the early 1830s, it quickly became the primary means of communication over long distances before the advent of telephones and modern digital communication.</p>
    <p>At its core, Morse code consists of a set of standardized sequences of short and long signals, typically referred to as dots and dashes or dits and dahs, respectively. Each letter of the alphabet, as well as numbers and punctuation marks, is represented by a unique combination of these signals. For example, the letter "A" is represented by a dot followed by a dash (·–), while the letter "B" is represented by a dash followed by three dots (–···)</p>
    <p>Whether you're intrigued by its historical significance, interested in enhancing your communication skills, or simply seeking a unique mental challenge, delving into the world of Morse code can be a rewarding and enriching experience. So why not embark on the journey to master this timeless form of communication? Dive into the dots and dashes, and unlock a world of endless possibilities.</p>

    <a href="/get-started" class="btn btn-primary">Get Started</a>
</div>
{% endblock %}
