{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_progress.js') }}"></script>
    <script>
        let all_quizzes = {{all_quizzes|tojson}}
        let total_quizzes = {{total_quizzes}}
    </script>
    
    <div class="container">
        <h1 class="page-header">Quiz</h1>
        {% block quiz_content %}{% endblock %}
        
    </div>
    <div class="progress-container">
        <div class="progress">
        </div>
    </div>

{% endblock %}