{% extends "quiz_layout.html" %}

{% block quiz_content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

    <script>
        let quiz = {{quiz|tojson}} 
    </script>

    <div>
        <div class="quiz-container">
            <h2 class="question text-center">{{quiz.id}}. {{quiz.question}}</h2>
            <!-- <div id="duration-display" class="hide">0 seconds</div> -->
            <div class="row">
                <div class="col-1 col-md-3"></div>
                <div class="col-10 col-md-6">
                    <div id="quiz-mid-container"></div>
                </div>
                <div class="col-1 col-md-3 flashlight-col"></div>
            </div>
            <div class="quiz-bottom-container">
                <div id="answer-feedback-container"></div>
                <div id="button-container">
                    <button id="submitAnswer" class="btn btn-primary hide">Submit</button>
                    <div id="wrong-answer-buttons" class="top-margin">
                        <button id="correct-answer-button" class="btn accent-button-unfilled hide">Correct Answer</button>
                        <button id="hint-button" class="btn btn-primary hide left-btn ">Hint</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}