{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_score.js') }}"></script>

    <script>
        let quiz = {{ quiz|tojson }};
        let quizzes = {{ quizzes|tojson }};
    </script>

    <div class="quiz-container">
        <div class="quiz-result">
            <h2>Quiz Result</h2>
            <p>You answered {{ quiz.score }} out of {{ quiz.total_questions }} questions correctly.</p>
        </div>
        <div class="score-btn-container">
            <button onclick="window.location.href = '/templates/quiz_home.html';">Go to Quiz Home</button>
        </div>
    </div>

    
{% endblock %}
