{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_answer.js') }}"></script>

    <script>
        let quiz = {{quiz|tojson}} 
        let total_quizzes = {{total_quizzes}}
    </script>

    <div class="quiz-container">
        <h1>Question {{quiz.id}}</h1>
        <div class="quiz-correct">Correct Answer</div>
        <img class="plain-image" src="{{quiz.answer_img}}" alt="answer image">
        <div class="input-morse-code">{{quiz.answer_morse}}</div>
        <div class='continue-message'>
            Click anywhere to continue
        </div>

    </div>
{% endblock %}