{% extends "quiz_layout.html" %}

{% block quiz_content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_answer.js') }}"></script>

    <script>
        let quiz = {{quiz|tojson}} 
    </script>

    <div>
        <div class="quiz-container">
            <!-- <h2 class="page-header">Question {{quiz.id}}</h2> -->
            <h2 class="quiz-correct">Correct Answer</h2>
            <div class="correct-answer-container">
                {% for answer in quiz.answer_img %}
                    <img class="plain-image top-bottom-margin" src="{{answer}}" alt="answer image">
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="input-morse-code">{{quiz.answer_morse}}</div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class='continue-message'>
                Press Space bar to continue
            </div>
        </div>
    </div>
{% endblock %}