{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_score.js') }}"></script>

    <script>
        let quiz = {{ quiz|tojson }};
        let quizzes = {{ quizzes|tojson }};
    </script>

    <div class="container text-center">
        <div class="quiz-result">
            <h1 class="page-header">Quiz</h1>
            <h2 class="text-center">You've finished the Quiz!</h2>
            <p>You answered <strong class="score-number">{{ quiz.score }}</strong> out of <strong class="score-number">{{ quiz.total_questions }}</strong> questions correctly.</p>
        </div>
        <div class="score-btn-container"></div>
    </div>

    
{% endblock %}
